.adminHeaderSiteName{color:#000;}
.login-logo img{    
 max-height: 60px;
}
.no-margin{
    margin:0 !important;
}
.sidebar-dark.nav-left-sidebar .nav-link i{
 color:#e6e6e6;
}
h2.pageheader-title{
  padding-bottom:10px;  
  border-bottom: 1px solid #e0e4ef;
}
.my-table-header h5{font-family: 'Circular Std Book';
    font-size: 13px;
    color: #a0a0a0ee;
    margin:0;
}
.form-header h5{
margin:0;
padding-left:30px;
}
.message-wrapper{ width:100%;margin-left:-15px; margin-right:-15px; background:#fff; border-radius:5px; margin: 10px 0}
.message-wrapper ol{margin:0;padding:15px;}
.form-control:focus {
 border-color: #53c784;
 box-shadow: none;
}
.user-message-header {
    padding: 5px 0;
    border-bottom: 1px solid #ce9d9d;
}
.select2-container .select2-selection--single{height: 40px;border-radius:2px;border:1px solid #d2d2e4}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:34px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top: 1px;}
.button-control-wrapper{    margin: 15px 0 0;
    border-top: 1px solid #dbdbe6 !important;
    padding: 15px 30px;
    background: #f7f7f7;}
.col-form-label em{color:#f36868}
.italics-info{
    font-family: 'Circular Std Book';
    font-style: normal;
    font-size:12px;
    color:#adadad;
}
.form-control.error{border:1px solid red}
form label.error{
    font-family: 'Circular Std Book';
    background: #fd7070;
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
    
}
[data-th="Current Status"],[data-th="Update"], .status , .update{
 text-align:center;
 font-size:24px;
}

[data-th="Update"] .fa-edit, .manage .fa-edit, .status .fa-edit, .update .fa-edit{
    color:#24bf6a
}

[data-th="Update"] .fa-trash, .manage .fa-trash, .status .fa-trash, .update .fa-trash{
    /* color:#f70303 */
    color:#ea5c5c;
}
[data-th="Current Status"] .fa-check-circle, .status .fa-check-circle, .update .fa-check-circle{
 
 color:#5de274;
}

[data-th="Current Status"] .fa-times-circle , .status .fa-times-circle,.update .fa-times-circle {
 font-size:24px;
 color:#f55a51;
}
td.status a {
    display: inline-block;
    margin: 5px 8px;
}

.table  a:hover{
    color:#000;
    
}
.radio-group-with-border{
    width:100%;
    padding:5px;
}
a.customLink {
    color: #1d4dbd;
    background: #c1e2ff;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 14px;
}
a.customLink:hover{ color:#004dff; text-decoration:underline;}
input[type=text] {
    line-height: 1.79;
}
.admin-upload-thumb img{ height:80px; }
.form-group.customFilterButtonWrapper {
    padding-top: 24px;
}

 li.dd-item {
    position: relative;
}
 .menuCtrls {
    position: absolute;
    z-index: 999;
    right: 6px;
    top: 0;
}

 .menuCtrls a {
    display: inline-block;
    padding: 7px 4px;
}


.menuCtrls .fa-check-square{
 color:#55d255;
}
.menu-danger .fa-check-square{
    color:#ff5555;
}

.menuCtrls .fa-pen-square{
 color:#6f91f1;
}

.menuCtrls .fa-trash-alt{
 color:red;
}

@media only screen and (max-width:998px) {
    .my-table-header .col-sm-6{ 
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; 
    }
}
.manage ul li {display: inline; padding:5px;}
.border-gray {border: 1px solid #dad9d9; }


/* AP 04-07-2019 */
.gallery_list .imageHolder img{
        width: 100%;
    height: auto;
}
.gallery_list .imageHolder .tool_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
        padding: .5em;
        background-color: #24274a;
}
.gallery_list .imageHolder .tool_box .delGalImg {
    font-size: 1.5em;
    line-height: .8;
}
.gallery_list .imageHolder .tool_box .downImg,
.gallery_list .imageHolder .tool_box .delGalImg {
    color: #FFF;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
.gallery_list .imageHolder .tool_box .downImg:hover,
.gallery_list .imageHolder .tool_box .delGalImg:hover{
    transform: scale(.9);
        opacity: .5;
}

/* AP 04-07-2019 */


/* AP 31-07-2019 */
.dashboard-wrapper {
	min-height: 90vh !important;
}
.dashboard-content {
	    min-height: 87vh;
}

.nestable-lists .dd{
	width: 100%;
}
.nestable-lists .dd .dd-handle {
	    font-weight: 100;
	    font-size: 14px;
}
.nestable-lists .dd .dd-handle:hover {
	    color: #828282;
}
.uploadPreview {
    display: flex;
    flex-wrap: wrap;
        margin-bottom: 1em;
}
.uploadPreview .upImgWrapper {
        width: 20%;
    padding-top: 23%;
    position: relative;
    height: 0;
    background-color: #ececec;
}
.uploadPreview .upImgWrapper img.uploadPreview {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.uploadPreview .upImgWrapper span.delUploadImage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    background: #F44336;
    color: #FFF;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
        cursor: pointer;
}

ul.myFileLister {list-style:none}

.myFileLister .delUploadImage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    /* background: #F44336; */
    color: #ef2121 !important;
    width: 21px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}
/* AP 31-07-2019 */

/* AP 08-09-2019 */
.card-body.form_template_view_mode {
  direction: rtl; }
.card-body .block_ {
  padding-bottom: 3em;
  /*MORE BTN*/ }
  .card-body .block_:first-child {
    padding-top: 1em; }
  .card-body .block_:last-child {
    padding-bottom: 0em; }
  .card-body .block_ .inner_block {
    margin: 1rem 1.5em;
    width: 100%; }
  .card-body .block_ .userSubmitted {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 0;
    outline: none;
    min-height: 51px;
    min-height: 3rem;
    width: 100%;
    font-size: 14px;
    margin: 0 0 8px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-weight: 700;
    transition: border .3s,-webkit-box-shadow .3s;
    transition: box-shadow .3s,border .3s,-webkit-box-shadow .3s;
    font-weight: 300;
    color: #000000;
    font-family: 'Roboto', sans-serif; }
  .card-body .block_ .helper-text {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.73);
    text-align: right; }
  .card-body .block_ .more_box {
    text-align: right; }
    .card-body .block_ .more_box.offlineDownloadLinkWrapper {
      margin-top: 1.5em; }
  .card-body .block_ .row {
    margin-left: -1.5em;
    margin-right: -1.5em; }
    .card-body .block_ .row .table_input_box {
      width: calc(100% - 3em);
      margin: 0 1.5em; }
      .card-body .block_ .row .table_input_box.single_field_table .heade_box .title_box {
        width: calc(100% - 35px);
        padding: 0 .8em;
        border-right: 1px solid #dbd6c7; }
      .card-body .block_ .row .table_input_box.single_field_table .table_body_box .row_box .title_box {
        width: calc(100% - 35px);
        padding: 0 .8em; }
    .card-body .block_ .row > .form-group.flag_grp {
      width: calc(50% - 3em);
      margin: 1rem 1.5em;
      display: flex; }
      .card-body .block_ .row > .form-group.flag_grp .input-field {
        flex: 1;
        margin: 0;
        margin-left: .8em; }
    .card-body .block_ .row > .input-field {
      width: calc(50% - 3em);
      margin: 1rem 1.5em; }
      .card-body .block_ .row > .input-field.full_ {
        width: calc(100% - 2em); }
    .card-body .block_ .row > .submit-box {
      width: calc(100% - 3em);
      margin: 1rem 1.5em; }
    .card-body .block_ .row.with_add > .input-field {
      width: calc(50% - 4em); }
    .card-body .block_ .row.with_add > .tol_box {
      width: 2em;
      display: flex;
      align-items: center; }
      .card-body .block_ .row.with_add > .tol_box .control_btn {
        font-size: 2rem;
        color: #000;
        line-height: .5;
        position: relative; }
        .card-body .block_ .row.with_add > .tol_box .control_btn:before {
          content: '';
          position: absolute;
          left: 7px;
          top: 6px;
          width: 74%;
          height: 80%;
          border-radius: 50%;
          background-color: #b6922f;
          z-index: -1;
          transition: all .3s ease-in-out; }
        .card-body .block_ .row.with_add > .tol_box .control_btn.rem_:before {
          background-color: #f04e25; }
        .card-body .block_ .row.with_add > .tol_box .control_btn:hover:before {
          left: 2px;
          top: 3px; }
  .card-body .block_ .input-field {
    position: relative; }
    .card-body .block_ .input-field > label {
      right: 0;
      left: auto;
      color: #000;
      font-weight: 100;
      font-size: 1.1rem;
      transform-origin: right;
      letter-spacing: 0;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 18px;
      font-size: 1.4rem;
      text-align: right;
      cursor: text;
      -webkit-transition: color .2s ease-out,-webkit-transform .2s ease-out;
      transition: color .2s ease-out,-webkit-transform .2s ease-out;
      -o-transition: transform .2s ease-out,color .2s ease-out;
      transition: transform .2s ease-out,color .2s ease-out;
      transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      transform-origin: right;
      text-align: initial;
      transform: translateY(12px);
      font-family: 'Roboto', sans-serif; }
      .card-body .block_ .input-field > label:not(.label-icon).active {
        transform-origin: right; }
      .card-body .block_ .input-field > label.active {
        -webkit-transform: translateY(-14px) scale(0.8);
        -ms-transform: translateY(-14px) scale(0.8);
        transform: translateY(-14px) scale(0.8);
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right; }
      .card-body .block_ .input-field > label.error {
        position: absolute;
        left: 0;
        bottom: 0;
        top: auto;
        right: auto;
        background: #f91b30;
        color: #FFF !important;
        font-size: 14px;
        line-height: 1;
        padding: .4em 1em;
        margin: 0;
        transform-origin: left;
        transform: translateY(calc(50% + 13px)); }
    .card-body .block_ .input-field .select-wrapper label.error {
      position: absolute;
      left: 0;
      bottom: 0;
      top: auto;
      right: auto;
      background: #f91b30;
      color: #FFF !important;
      font-size: 14px;
      line-height: 1;
      padding: .4em 1em;
      margin: 0;
      transform-origin: left;
      transform: translateY(calc(50% + 13px)); }
    .card-body .block_ .input-field span.error {
      position: absolute;
      left: 0;
      bottom: 0;
      top: auto;
      right: auto;
      background: #f91b30;
      color: #FFF !important;
      font-size: 14px;
      line-height: 1;
      padding: .4em 1em;
      margin: 0;
      transform-origin: left;
      transform: translateY(calc(50% + 5px)); }
    .card-body .block_ .input-field .helper-text {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.73); }
    .card-body .block_ .input-field .character-counter {
      font-weight: 600;
      opacity: .6; }
    .card-body .block_ .input-field .prefix {
      top: auto;
      bottom: .8rem;
      left: 0;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .card-body .block_ .input-field .prefix.active {
        color: #000; }
    .card-body .block_ .input-field .datepicker-modal .datepicker-controls .select-wrapper .caret {
      display: block; }
    .card-body .block_ .input-field .datepicker-modal .datepicker-controls .select-year input,
    .card-body .block_ .input-field .datepicker-modal .datepicker-controls .select-month input {
      padding-left: 25px; }
  .card-body .block_ a {
    color: #b6922f; }
  .card-body .block_ .more-wrap {
    padding: 25px 0;
    width: 100%; }
    .card-body .block_ .more-wrap.center {
      text-align: center; }
      .card-body .block_ .more-wrap.center .more {
        margin: 0 auto; }
  .card-body .block_ .more {
    display: inline-block;
    position: relative;
    color: #000;
    padding: .5em 2em;
    font-size: .85rem;
    font-weight: normal;
    transition: 0.5s ease;
    font-weight: 600;
    border: 1px solid #b6922f;
    border-radius: 2em;
    overflow: hidden;
    background: transparent;
    min-width: 120px; }
    .card-body .block_ .more > span {
      position: relative;
      z-index: 10; }
    .card-body .block_ .more:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      background: #b6922f;
      bottom: 0;
      left: 0;
      transition: height 0.35s ease-in-out;
      z-index: 1; }
    .card-body .block_ .more.filled_:before {
      height: 100%;
      top: 0;
      bottom: auto; }
    .card-body .block_ .more.filled_:focus {
      color: #000; }
    .card-body .block_ .more.filled_:hover {
      color: #000; }
      .card-body .block_ .more.filled_:hover:before {
        height: 0; }
    .card-body .block_ .more:hover {
      text-decoration: none;
      color: #FFF; }
      .card-body .block_ .more:hover:before {
        height: 100%; }
.card-body .sub-title[data-number] span {
  padding: 0 150px 0 0;
  display: inline-block; }
  .card-body .sub-title[data-number] span span {
    padding: 0; }
.card-body .sub-title[data-number]::after {
  content: '';
  position: absolute;
  right: 60px;
  width: 70px;
  top: 50%;
  height: 1px;
  background-color: #b6922f; }
.card-body .sub-title[data-number]::before {
  content: attr(data-number);
  font-size: 16px;
  line-height: 43px;
  font-weight: 100;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #b6922f;
  position: absolute;
  right: 0;
  text-align: center;
  color: #000;
  top: 50%;
  transform: translateY(-50%); }
.card-body .sub-title {
  font-weight: 100;
  position: relative;
  font-size: 1.6rem;
  text-align: right; }
  .card-body .sub-title > span {
    position: relative;
    z-index: 10; }
    .card-body .sub-title > span > span {
      color: #787878;
      font-size: 70%; }
  .card-body .sub-title.text-colo-brand {
    color: #b6922f; }
.card-body .userImgWrapper {
  display: block;
  width: 100%;
  margin-top: 1.5em;
  text-align: right; }
  .card-body .userImgWrapper > a {
    display: inline-block; }
    .card-body .userImgWrapper > a:hover img {
      transform: scale(0.9); }
  .card-body .userImgWrapper img {
    width: 100%;
    height: auto;
    max-width: 250px;
    transition: all .3s ease-in-out;
    transform-origin: center; }
.card-body .tableWrapper {
  width: 100%;
  margin: 1rem 1.5em;
  border-right: 1px solid #dbd6c7; }
  .card-body .tableWrapper.init_hide {
    height: 0;
    margin: 0; }
    .card-body .tableWrapper.init_hide table {
      height: 0;
      overflow: hidden;
      transform: translateY(2em);
      opacity: 0; }
    .card-body .tableWrapper.init_hide.show_ {
      height: auto; }
      .card-body .tableWrapper.init_hide.show_ table {
        opacity: 1;
        transform: none;
        transition: opacity .3s .1s ease-in-out, transform .3s .1s ease-in-out; }
  .card-body .tableWrapper table {
    width: 100%;
    min-width: 500px; }
    .card-body .tableWrapper table thead {
      font-size: 1.1rem;
      background-color: #b6922f; }
      .card-body .tableWrapper table thead th {
        color: #FFF;
        padding: .5em 1em;
        border-left: 1px solid #dbd6c7;
        border-bottom: none;
        font-weight: 100;
        background: transparent;
        text-align: right; }
        .card-body .tableWrapper table thead th.cl_index {
          width: 50px;
          text-align: center; }
        .card-body .tableWrapper table thead th.cl_tool {
          width: 15%;
          min-width: 100px;
          text-align: center; }
    .card-body .tableWrapper table tbody td {
      text-align: right;
      font-size: 17px;
      padding: .6em 1em;
      border-left: 1px solid #dbd6c7; }
      .card-body .tableWrapper table tbody td.cl_index {
        width: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 19px; }
      .card-body .tableWrapper table tbody td.cl_tool {
        width: 15%;
        min-width: 100px;
        text-align: center; }
        .card-body .tableWrapper table tbody td.cl_tool a {
          width: 35px;
          height: 37px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          line-height: .8;
          position: relative;
          z-index: 10; }
          .card-body .tableWrapper table tbody td.cl_tool a::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: all .3s ease-in-out;
            z-index: -1; }
          .card-body .tableWrapper table tbody td.cl_tool a.delTR {
            color: #FFF; }
            .card-body .tableWrapper table tbody td.cl_tool a.delTR::before {
              background-color: red; }
          .card-body .tableWrapper table tbody td.cl_tool a:hover::before {
            transform: rotate(90deg); }
      .card-body .tableWrapper table tbody td .size {
        display: inline-block;
        background-color: #f0e9d5;
        padding: .3em 1em;
        border-radius: 1em;
        font-size: 13px;
        line-height: 1.2;
        margin-top: .3em;
        box-shadow: 0 0 2px 0px #b6922f;
        font-weight: 600;
        color: #000;
        direction: ltr; }
    .card-body .tableWrapper table tbody tr.TRRemove {
      position: relative; }
      .card-body .tableWrapper table tbody tr.TRRemove .cl_tool {
        position: relative; }
      .card-body .tableWrapper table tbody tr.TRRemove .tr_loader {
        opacity: 1;
        pointer-events: auto; }
    .card-body .tableWrapper table tbody tr:nth-child(even) td {
      background-color: #f6f6f6; }
    .card-body .tableWrapper table tbody tr:last-child {
      border-bottom: 1px solid #dbd6c7; }
.card-body .wiz-head {
  display: none; }
.card-body section.wiz-content {
  padding-bottom: 3em; }
.card-body .table_input_box {
  display: block;
  padding-top: 1em; }
  .card-body .table_input_box .heade_box {
    display: flex;
    font-size: 1.2rem;
    background-color: #b6922f; }
    .card-body .table_input_box .heade_box .number_box {
      width: 35px;
      padding: .5em;
      display: flex;
      align-items: flex-end;
      color: #ffffff; }
    .card-body .table_input_box .heade_box .title_box {
      width: 25%;
      padding: .5em 0;
      color: #ffffff;
      border-left: 1px solid #dbd6c7;
      display: flex;
      align-items: flex-end; }
    .card-body .table_input_box .heade_box .year_box {
      flex: 1; }
      .card-body .table_input_box .heade_box .year_box .year_ {
        text-align: center;
        color: #ffffff;
        padding: .5em;
        border-left: 1px solid #dbd6c7; }
      .card-body .table_input_box .heade_box .year_box .meta_box {
        display: flex;
        align-items: center; }
        .card-body .table_input_box .heade_box .year_box .meta_box .meta_head {
          flex: 1;
          text-align: center;
          background-color: #f0e9d5;
          padding: .5em;
          border-left: 1px solid #dbd6c7; }
  .card-body .table_input_box .table_body_box {
    display: flex;
    flex-direction: column; }
    .card-body .table_input_box .table_body_box .row_box {
      width: 100%;
      display: flex; }
      .card-body .table_input_box .table_body_box .row_box .userSubmitted {
        padding: 0 .5em;
        width: auto;
        margin-bottom: 0;
        border-bottom: none; }
      .card-body .table_input_box .table_body_box .row_box:last-child {
        border-bottom: 1px solid #dbd6c7; }
      .card-body .table_input_box .table_body_box .row_box:nth-child(even) {
        background-color: #f6f6f6; }
      .card-body .table_input_box .table_body_box .row_box .number_box {
        width: 35px;
        border-right: 1px solid #dbd6c7;
        border-left: 1px solid #dbd6c7;
        display: flex;
        align-items: center;
        justify-content: center; }
      .card-body .table_input_box .table_body_box .row_box .title_box {
        width: 25%;
        border-left: 1px solid #dbd6c7; }
        .card-body .table_input_box .table_body_box .row_box .title_box label.error {
          display: none !important; }
      .card-body .table_input_box .table_body_box .row_box .year_box {
        flex: 1; }
        .card-body .table_input_box .table_body_box .row_box .year_box .meta_box {
          display: flex;
          align-items: center; }
          .card-body .table_input_box .table_body_box .row_box .year_box .meta_box .meta_value {
            flex: 1;
            border-left: 1px solid #dbd6c7; }
            .card-body .table_input_box .table_body_box .row_box .year_box .meta_box .meta_value label.error {
              display: none !important; }
      .card-body .table_input_box .table_body_box .row_box .form_control {
        border-color: transparent;
        min-width: auto;
        max-width: calc(100% - 2em);
        margin: 0 1em;
        height: 45px; }
        .card-body .table_input_box .table_body_box .row_box .form_control:focus {
          border-color: #b6922f; }
        .card-body .table_input_box .table_body_box .row_box .form_control.error {
          border-color: #f04e25; }
.card-body .displayFormWrapper {
  border: 2px dotted #dadada; }
  .card-body .displayFormWrapper .wiz-content {
    padding: 1em 2em; }
    .card-body .displayFormWrapper .wiz-content:nth-child(odd) {
      background: #efefef; }

.table-responsive .catFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dashed #c3c3c3;
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .2em; }
  .table-responsive .catFormWrapper .badge {
    border-radius: 2em;
    padding: 6px 15px;
    font-size: 13px;
    line-height: .8;
    color: #000; }
    .table-responsive .catFormWrapper .badge.category_1 {
      background-color: #cea628; }
    .table-responsive .catFormWrapper .badge.category_2 {
      background-color: #46af4e; }
    .table-responsive .catFormWrapper .badge.category_3 {
      background-color: #2384c1; }
  .table-responsive .catFormWrapper .badge2 {
    border-radius: 0em 2em 2em 2em;
    padding: 6px 15px;
    font-size: 13px;
    line-height: .8;
    color: #000;
    margin-left: 1em; }
    .table-responsive .catFormWrapper .badge2.category_1 {
      background-color: #efda84; }
    .table-responsive .catFormWrapper .badge2.category_2 {
      background-color: #7dd888; }
    .table-responsive .catFormWrapper .badge2.category_3 {
      background-color: #7ebbe8; }
.table-responsive .catFormWrapperAR {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px dashed #c3c3c3;
  padding: .5em;
  border-radius: .2em; }
  .table-responsive .catFormWrapperAR .badge {
    border-radius: 2em;
    padding: 6px 15px;
    font-size: 13px;
    line-height: .9;
    color: #000; }
    .table-responsive .catFormWrapperAR .badge.category_1 {
      background-color: #cea628; }
    .table-responsive .catFormWrapperAR .badge.category_2 {
      background-color: #46af4e; }
    .table-responsive .catFormWrapperAR .badge.category_3 {
      background-color: #2384c1; }
  .table-responsive .catFormWrapperAR .badge2 {
    border-radius: 2em;
    padding: 6px 15px;
    font-size: 13px;
    line-height: .9;
    color: #000;
    margin-right: 1em; }
    .table-responsive .catFormWrapperAR .badge2.category_1 {
      background-color: #efda84; }
    .table-responsive .catFormWrapperAR .badge2.category_2 {
      background-color: #7dd888; }
    .table-responsive .catFormWrapperAR .badge2.category_3 {
      background-color: #7ebbe8; }
.table-responsive .entityWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .table-responsive .entityWrapper > a[data-fancybox] {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: block;
    border-radius: 50%;
    margin-right: 9px; }
    .table-responsive .entityWrapper > a[data-fancybox] img {
      position: absolute;
      width: auto;
      height: 100%;
      max-height: 100% !important;
      left: 50%;
      transform: translateX(-50%); }
  .table-responsive .entityWrapper p {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 12px; }
.table-responsive .flagWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px; }
  .table-responsive .flagWrapper > span:first-child {
    margin-right: 10px; }
  .table-responsive .flagWrapper > span:last-child {
    flex: 1; 
    font-size: 12px;
        line-height: 1.2;
  }
.table-responsive .dateTimeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  border: 1px dashed #cecece;
  position: relative;
  padding: 19px 0 6px 0; }
  .table-responsive .dateTimeWrapper .dateWrap {
    margin-bottom: 10px; }
  .table-responsive .dateTimeWrapper .far {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background: #FFF;
    font-size: 19px;
    border-radius: 50%; }
.table-responsive .tool_box {
  position: relative; }
  .table-responsive .tool_box .in_load {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    pointer-events: none; }
    .table-responsive .tool_box .in_load .dashboard-spinner {
      border-width: 3px; }
    .table-responsive .tool_box .in_load.show_ {
      display: flex;
      pointer-events: auto; }



/* AP 08-09-2019 */

/* AP 26-09-2019 */
.dashboard-header .navbar-toggler .navbar-toggler-icon {
  background-image: url(images/menu_icon.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(images/menu_icon.svg);
      background-size: 80%;
}

 @media (max-width: 768px) {
   
    table.bt tfoot th::before, table.bt tfoot td::before, table.bt tbody td::before {
          min-width: 30%;
        color: #0e0c28;
    }
    .table-responsive table {
      min-width: auto !important;
    }
  }
  @media (max-width: 767px) {
    table.bt tfoot th, table.bt tfoot td, table.bt tbody td {
          flex-direction: column;
    }
      table.bt tfoot th::before, table.bt tfoot td::before, table.bt tbody td::before {
            font-size: 12px;
            width: 100%;
         
            background: #d4d4d4;
                padding: .8em .2em;
      }
      html[dir=rtl] table.bt tfoot th::before, table.bt tfoot td::before, table.bt tbody td::before {
        
              text-align: right;
      }
      table.bt tfoot th .bt-content, table.bt tfoot td .bt-content, table.bt tbody td .bt-content {
        flex: 1;
      }
      table.bt tfoot td, table.bt tbody td {
            font-size: 12px;

      }

      .btn {
      font-size: 12px;
      padding: 5px 15px;
    }
    .btn-group, .btn-group-vertical {
          flex-direction: column;

    }
    .btn-group > .btn {
        margin: .2em 0;
    }
    .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
          border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    }
    .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
      border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    }
    .table-responsive .entityWrapper > a[data-fancybox] {
          width: 30px;
        height: 30px;
    }
    .table-responsive .btn-group {
      align-items: center;
          width: 100%;
    }
  }
/* AP 26-09-2019 */

.logoWrapper > img{ width:100%; max-width:260px; }
.row{ margin: 10px 0 10px 0; }

/*---------- UPLOAD BUTTON STYLES ----------*/
.uploadControlWrapper{ position:relative; } 
.uploadWrapperParent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.uploadWrapperParent.uploading {
    opacity: 1;
    visibility: visible;
}

.uploadWrapperParent.uploaded {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    margin-top: 5px;
    background: #eff5e8;
    border-color: #d7e4c7;
}

.uploadWrapperParent.uploaded .uploadProgressWrapper {
    display: none;
}

.uploadFileName {
    font-size: 13px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    top: 0px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 50px);
}

.uploadPercentage {
    position: relative;
    /*right: 10px;
    top: 10px;*/
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
}

.uploadProgressWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    left: 0;
}

.uploadProgress {
    height: 100%;
    width: 0;
    background: #7ad27d;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input[type="file"] {
    opacity: 0;
    height: 41px;
}
.uploader{
	
}
.choose {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 8px;
    font-size: 14px;
    letter-spacing: 0;
}

.choose-btn {
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 2px 8px;
    background: #f5f5f5;
    white-space: nowrap;
}

.choose-file {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-size: 12px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.moxie-shim {
    position: relative !important;
	
}


/*Gallery Listing*/
.myFileLister {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0;
}

.myFileLister .uploadPreview {
    width: calc(25% - 2em);
    margin: 0 1em 1em;
}

.myFileLister .uploadPreview .upImgWrapper {
    width: 100%;
    padding-top: 65%;
}

.myFileLister span.fileIconDisplayer {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    font-size: 12em;
    text-align: center;
}

img.uploadPreview{
	max-width: 100%;
}




/*Tags*/
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    width: 100%;
    height: auto !important;
    line-height: 30px;
    cursor: text;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: black;
    background: #ccc;
    padding: 8px 5px;
    font-size: 14px;
	margin-top: 14px;
    display: inline-block;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    background: #f25757;
    position: relative;
    top: -13px;
    padding: 3px;
    border-radius: 5px;
    right: -10px;
    color: #fff;
}

.uploadPreview .upImgWrapper img.uploadPreview{
 margin:0;
}

/*Media Gallery*/

.ythumbWrapper img {
    max-height: 87px;
}

.ythumbWrapper {
    text-align: center;
}
.card-footer p{padding:5px;}

.imageCenter{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.adjustImage{
	height:250px;
	
}
#chCoverWrapper > a , #saveWrapper > a{
    color: #fff;
}
#chCoverWrapper input[type="file"] {
    opacity: 0;
    height: 0px;
}

.YTVideo .playIcon{    font-size: 47px;
    z-index: 99999;
    color: #dcffb8;
    position: absolute;
    /* background: red; */
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fancybox-active  .YTVideo .playIcon{display:none !important;}    

.row.tipsWrapper {
    position: relative;
    border: 1px solid #efefef;
    padding-bottom: 6px;
}
.row.tipsWrapper .deleteTip {
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 24px;
    color: red;
	cursor:pointer;
}  

.ytLang {
    text-align: center!important;
    width: 30px;
    position: absolute;
    top: 8px;
    left: 41%;
}
.custCardWrapper{
	min-width:25%;
}
.custCardWrapper.ui-sortable-handle{
	border: 1px dashed #ccc;
	padding: 15px;
}
.textUpdated {
    position: relative;
}
.textUpdated::after {    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 128, 0, 0.38);
    content: "\f058";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
}
.topControls{
	min-height: 20px;
}